/* PC */
@media screen and (min-width: 992px) {
    .show-on-mobile {
        display: none;
    }

    .hide-on-pc {
        display: none;
    }
}

/* Tablet & Mobile*/
@media screen and (max-width: 991.98px) {
    .show-on-pc {
        display: none;
    }

    .layout-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.25s ease, visibility 0.25s ease;
    }

    .header__inner {
        position: relative;
    }

    .header__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .menu-bar__icon {
        height: 30px;
    }

    .mobile-navbar {
        position: fixed;
        inset: 0 40% 0 0;
        background-color: #fff;
        z-index: 4;
        padding: 40px;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
    }

    .mobile-navbar__list {
        margin-top: 35px;
    }

    .navbar__link {
        font-size: 1.4rem;
        padding: 15px 0;
        display: block;
    }
    /* Show side bar and overlay */
    .mobile-checkbox:checked ~ .layout-overlay {
        opacity: 1;
        visibility: visible;
    }

    .mobile-checkbox:checked ~ .mobile-navbar {
        transform: translateX(0);
    }

    .hero__inner {
        gap: 77px;
    }

    .hero__media {
        padding-bottom: 0;
    }

    .hero__img-wrap {
        width: 290px;
        height: 380px;
    }

    .hero__decor,
    .hero__img-wrap--small,
    .hero__list {
        display: none;
    }

    .section__heading,
    .hero__heading {
        font-size: 4.8rem;
    }

    .section__desc {
        font-size: 1.6rem;
        width: 350px;
        text-align: justify;
    }

    .about__inner {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        row-gap: 146px;
    }

    .about__content {
        text-align: center;
    }

    .about-list {
        justify-content: center;
    }

    .about__desc--bottom,
    .about__heading,
    .about__desc {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    .tab__contents {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service__body {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 71px;
        justify-content: center;
    }

    .staff__list {
        margin-top: 59px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 35px;
        row-gap: 70px;
    }

    .staff-item__img-wrap::after {
        display: none;
    }

    .staff-item__img-wrap::before {
        height: 300px;
    }

    .pricing__list {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        row-gap: 44px;
    }

    .review__inner {
        column-gap: 0;
    }

    .review__control {
        transform: scale(0.85);
    }

    .review__content {
        width: 100%;
    }

    .review-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 0;
    }

    .review-item__media {
        width: 200px;
    }

    .review-item__quote {
        font-size: 1.5rem;
        width: 350px;
    }

    .blog__header {
        flex-direction: column;
    }

    .blog__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blog__desc {
        margin-top: 20px;
        width: 85%;
        text-align: center;
    }

    .blog__cards {
        margin-top: 54px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 35px;
        row-gap: 35px;
    }

    .footer-item__title {
        font-size: 1.4rem;
    }

    .footer-item__text,
    .footer-item__link {
        font-size: 1.2rem;
        display: block;
        padding: 4px 0;
    }

    .footer__group {
        grid-template-columns: auto auto;
        gap: 58px 50px;
        padding: 52px 0px 52px 47px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hide-on-mobile {
        display: none;
    }

    .header__inner {
        padding: 20px 0;
    }

    .menu-bar__icon {
        height: 24px;
    }

    .mobile-navbar {
        inset: 0 25% 0 0;
        padding: 20px;
    }

    .mobile__separate {
        border-top: 1px solid var(--primary-color);
    }

    .hero__heading {
        text-align: center;
        font-size: 4.5rem;
    }

    .section__desc {
        text-align: center;
        font-size: 1.4rem;
        width: 350px;
    }
}

/* Small mobile */
@media screen and (max-width: 575.98px) {
}
