* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
    --secondary-color: #ff5b2e;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/*================= Common ==================*/
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    --height: 50px;
    --width: 117px;
    --color: #fff;
    --border-color: rgba(255, 91, 46, 0.6);
    --border-radius: 31px;

    display: inline-block;

    min-width: var(--width);
    height: var(--height);
    border-radius: 25px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    color: var(--color);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: var(--height);
}

.section__heading {
    color: var(--primary-color);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section__desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.section__tag {
    color: #5e6085;
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

/*============================ Header ===========================*/
.header {
    margin-top: 19px;
    padding: 7px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fffaf5;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 8px 18px;
}

.navbar__link:hover,
.header-action__link:hover {
    color: var(--primary-color);
    text-shadow: 0 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;
    --width: 117px;
    --color: #000958;
    --border-color: rgba(0, 9, 88, 0.7);
    --border-radius: 25px;
    transition: background-color, color, transform 0.25s;
}

.header-action__btn:hover {
    color: #fff;
    background-color: #000958;
}

.header-action__btn:active {
    transform: scale(0.95);
}

/*========================== Hero ====================*/
.hero {
    padding-top: 93px;
    padding-bottom: 77px;
}

.hero__inner {
    display: flex;
    align-items: center;
    gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 3px solid #fff;
}

.hero__img-wrap--small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border: 2px solid #fde0e2ff;
    margin-left: -23px;
    margin-bottom: -58px;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor--right {
    top: 17px;
    right: -43px;
}

.hero__decor--left {
    bottom: 10px;
    left: -58px;
}

.hero__list {
    width: 250px;
    height: 156px;
    position: absolute;
    left: 129px;
    bottom: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 18px 14px;
    cursor: pointer;
}

.hero-list-item {
    display: flex;
    gap: 10px;
}

.hero-list-item__thumb {
    --thumb-bg: #fec23f;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: var(--thumb-bg);
}

.hero-list-item__title {
    color: #181e52;
    font-family: "Sora", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-list-item__skeleton {
    --width: 118px;

    width: var(--width);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
    margin-top: 7px;
}

.hero__separate {
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    border-radius: 2px;
    margin: 20px 0;
}

.hero__heading {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
}

.hero__row {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 38px;
}

.hero-cta__btn {
    --height: 60px;
    --width: 189px;
    --color: #fff;
    --border-color: rgba(255, 91, 46, 0.6);
    --border-radius: 31px;

    background-color: var(--secondary-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: transform 0.25s ease-in;
}

.hero-cta__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    transform: translateX(2px) translateY(-2px);
}

.hero-cta__btn:active {
    transform: scale(0.95);
}

.btn__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__link {
    display: block;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
}

.hero__link:hover {
    color: var(--secondary-color);
}

/*========================== about ====================*/
.about {
    padding-top: 53px;
    padding-bottom: 130px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* column-gap: 108px; */
    row-gap: 146px;
}

.about__content,
.about__media {
    height: auto;
}

.about__media {
    position: relative;
    padding-bottom: 60px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__heading {
    margin-top: 15px;
}

.about__desc {
    margin-top: 24px;
}

.about-list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    column-gap: 36px;
    row-gap: 34px;
}

.about__list-item {
    position: relative;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.about__list-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 4px;
}

.about__list-item:hover::before {
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__list-item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    content: url(../img/icons/check.svg);
}

.about__card {
    position: absolute;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    padding: 30px 26px;
    bottom: 238px;
    left: 0;
}

.about__card-title {
    color: #fff;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    width: 83px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
    margin: 14px auto 0;
}

.about__card-decor {
    position: absolute;
    top: -40px;
    right: -31px;
    z-index: 1;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    inset: auto 0 0 0;
    content: "";
    display: block;
    height: 336px;
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
    z-index: -1;
}

.about__img {
    display: block;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    bottom: 307px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap--small {
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    margin: 0 auto 0 0;
}

.about__decor__img {
    position: absolute;
}

.about__decor__img:first-child {
    bottom: 457px;
    right: 63px;
}

.about__decor__img:nth-child(2) {
    bottom: 481px;
    right: 13px;
}

.about__decor__img:nth-child(3) {
    bottom: 440px;
    right: -21px;
}

.about__decor__img:nth-child(4) {
    bottom: 206px;
    right: -33px;
}

.about__decor__img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__decor__img:last-child {
    bottom: -54px;
    right: -42px;
}

.about__desc--bottom {
    margin-top: 24px;
    max-width: 511px;
}

.tab {
    margin-top: 52px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background: #ff5b2e;
    opacity: 0.07;
}

.tab__item--active::after {
    opacity: 1;
    width: 95px;
}

.tab__item {
    cursor: pointer;
    padding: 12px 26px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tab__item:first-child {
    border-radius: 20px 0px 0px 0px;
    padding-left: 0;
}

.tab__item:last-child {
    border-radius: 0px 20px 0px 0px;
}

.tab__item:hover {
    background-color: #fce0ef;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    color: #48496a;
    font-family: "Sora", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    max-width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    margin-bottom: 32px;
}

.tab__content-more {
    position: relative;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.tab__content-more::after {
    width: 86px;
    height: 1.5px;
    opacity: 1;
}

.tab__content-more:hover {
    color: var(--primary-color);
}

.tab__content-more:hover::after {
    background-color: var(--primary-color);
}

/*========================== service ====================*/
.service {
    padding: 68px 0 100px;
    background-color: #fff6ed;
}

.service__col {
    position: relative;
}

.service__tag,
.service__heading {
    text-align: center;
}

.service__heading {
    margin-top: 15px;
    margin-bottom: 71px;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 71px;
}

.service-item {
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    padding: 28px 22px 28px 28px;
}

.service-item + .service-item {
    margin-top: 22px;
}

.service-item__heading {
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    position: relative;
    padding-left: 12px;
}

.service-item__heading::before {
    position: absolute;
    inset: 3px auto 3px 0;
    display: inline-block;
    content: "";
    width: 2px;
    background: linear-gradient(#ff5b2e 0.39%, #ffa187 100.29%);
    border-radius: 2px;
}

.service-item__desc {
    width: 244px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    margin-top: 18px;
    margin-bottom: 24px;
}

.service-item__more {
    position: relative;
    color: #34396a;
    font-family: "Sora", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.service-item__more::after {
    content: url(../img/icons/ArrowUpRight.svg);
    position: absolute;
    top: 1px;
    right: -19px;
}

.service-item__more::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 1px;
    width: 0;
    background-color: #34396a;
    transition: width 0.3s ease;
}

.service-item__more:hover::before {
    width: calc(100% + 19px);
}

.service-item__more:hover {
    text-shadow: 0 0 0 #34396a;
}

.service__media {
    margin-top: 17px;
}

.service__img {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1;
}

.service__media::before {
    position: absolute;
    bottom: 101px;
    left: 16px;
    right: 16px;
    content: "";
    display: inline-block;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 43px;
}

.service__cta-btn {
    --height: 56px;
    --width: 214px;
    --color: #fff;
    --border-color: rgba(255, 91, 46, 0.6);
    --border-radius: 31px;

    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    transition: transform 0.25s ease-in;
}

.service__cta-btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    transform: translateY(-2px);
}

.service__cta-btn:active {
    transform: scale(0.95);
}
